NASL_ZLIB_PATH="/Users/suicca/workspace/nasl-frontend-generator-playground/playground/fixtures/02195780-b1da-450b-a95e-d93147f02d7c/src.json.zz"
FRONTENDS=[{"name":"pc","path":"/","selected":true,"status":1,"title":"PC端","type":"pc"}]